doctype html
html(lang='en')
    head
        title Hello World!
        link(rel='stylesheet', href='/dist/app.css')
        script(src='https://unpkg.com/vue@latest')
    body
        #app
            include ../includes/header

            #content
                block content

            include ../includes/footer
        
        block scripts
